{% load panel_tags %}
<div class="panel-container">
    <div class="panel-info">
        <div class="panel-field">
            <strong title="айди выбранной модели">
                Панель ID:
            </strong> <span title="это айди">{{ panel.name }}</span>
            <strong title="название модели">
                Модель:
            </strong> {{ panel.display.description }}

        </div>

        <div class="panel-field">
            <strong>
                Состояние:
            </strong> {{ panel.department.description }}

        </div>
        <div class="panel-field-size">
            <strong>Описание:</strong>
            {% if panel.comment %}{{ panel.comment }} {% else %}-{% endif %}
        </div>
        <div class="panel-field">

        </div>
        <div class="panel-field">
            <strong>Заявка:</strong>
            {% if panel.condition.name == 'work' and panel.application_status.name == 'default' %}
                панель исправна и активных заявок нет
            {% else %}
                {{ panel.application_status.description }}
            {% endif %}
        </div>
        <div class="panel-field">
            {% if department == 'monitoring' %}
                <strong title="Состояние. переключение между сломанной и нормальной.">
                    Статус:
                </strong>
                {% if panel.condition.name == 'work' and not application_active %}
                    <a class="head-button" style="background: rgba(85,179,85,0.62); color: white;"
                       data-target="change_condition" data-panel-id="{{ panel.name }}"
                       data-new-condition="problem"
                       title="Нажмите чтобы пометить панель как сломанную.">
                        Работает
                    </a>
                    <a title="{{ panel.condition.description }}">{{ panel.condition.icon }}</a>
                {% elif panel and  panel.condition.name != 'work'  and panel.condition != 'unrecoverable' and  panel.application_status.name == 'default' %}
                    <a class="head-button" style="background: rgba(193,61,61,0.68); color: rgba(255,255,255,0.69);"
                       data-target="change_condition" data-panel-id="{{ panel.name }}"
                       data-new-condition="work"
                       title="Нажмите чтобы пометить панель как рабочую.">
                        Не работает
                    </a>

                    <a title="{{ panel.condition.description }}">
                        {{ panel.condition.icon }}
                    </a>
                {% else %}
                    <a title="Состояние не поменять. Причина - есть активная заявка">{{ panel.condition.description }} </a>
                    <a title="Заявка в работе">
                        {{ panel.condition.icon }}
                    </a>
                {% endif %}
            {% elif department == 'service' %}
                <strong title="Состояние. переключение между сломанной и нормальной.">
                    Статус:
                </strong>
                <div class="dropdown">
                    <a class="dropdown-button head-button {% if left_bar_status == 'application_history' %}chosen{% endif %}">
                        {{ panel.condition.icon }} {{ panel.condition.description }}
                    </a>

                    <div class="dropdown-menu" style=" position: inherit;">
                        {% get_allowed_status panel.condition.name as allowed_status %}
                        {% for condition in allowed_status %}
                            <a class="head-button" data-target="change_condition" data-panel-id="{{ panel.name }}"
                               data-new-condition="{{ condition.name }}"
                               title="Нажмите чтобы поменять состояние панели на {{ condition.description }}">
                                {{ condition.description }} {{ condition.icon }}
                            </a>
                        {% endfor %}
                    </div>
                </div>



            {% else %}
                <strong title="Статус панели">Статус : </strong>
                {{ panel.condition.icon }} {{ panel.condition.description }}
            {% endif %}</div>

    </div>

    <div class="application-button-container">
        <div class="panel-links">
            {% if department == 'monitoring' %}
                {% if  panel.condition.name == 'problem' and panel.application_status.name == 'default' %}
                    <a class="head-button" data-target="create_application" title="Создать новую заявку">
                        🆕
                    </a>
                {% endif %}

            {% elif department == '!!сontrol' or department == '!!service' %}
                <div class="action-button" data-bs-toggle="offcanvas"
                     data-bs-target="#moving"
                     title="История перемещений"
                     aria-controls="offcanvasRight">❌
                </div>
                <div class="action-button" data-bs-toggle="offcanvas"
                     data-bs-target="#breakdown"
                     title="История поломок"
                     aria-controls="offcanvasRight">❌
                </div>
                <div class="action-button" data-bs-toggle="offcanvas"
                     data-bs-target="#condition"
                     title="История состояний"
                     aria-controls="offcanvasRight">❌
                </div>
                <div class="action-button" data-bs-toggle="offcanvas"
                     data-bs-target="#service"
                     title="История сервиса"
                     aria-controls="offcanvasRight">❌
                </div>
                <div class="action-button" data-bs-toggle="offcanvas"
                     data-bs-target="#none_type"
                     title="Прочее"
                     aria-controls="offcanvasRight">❌
                </div>
                <div class="action-button" data-bs-toggle="offcanvas"
                     data-bs-target="#none_type"
                     title="Заявки"
                     aria-controls="offcanvasRight">❌
                </div>
            {% endif %}
            {% if department == 'service' %}

                {% if central_bar_status == 'service_display' %}
                    {% if not empty_slot %}
                        {# ниже должна быть проверка на активную заявку  #}
                        <a class="head-button" 
                           data-target="remove_panel_in_cell"
                           data-cell-id="{{ cell_id }}"
                           data-display-id="{{ display_id }}"
                           title="Снять панель">
                            ⤵️
                        </a>

                    {% endif %}
                {% endif %}
            {% elif department == 'zip' %}
                {% if panel_report_history %}
                    <div class="action-button" data-bs-toggle="offcanvas"
                         data-bs-target="#offcanvasRight" title="Комментарии" aria-controls="offcanvasRight">
                        📄
                    </div>
                    {% if panel.department.name != 'service' %}
                        <div class="action-button" data-bs-toggle="modal"
                             data-bs-target="#apply_to_service" title="В сервис" aria-controls="exampleModal">⚙️
                        </div>
                    {% endif %}
                    {% if panel.department.name != 'zip' %}
                        <div class="action-button" data-bs-toggle="modal"
                             data-bs-target="#apply_to_zip" title="ЗИП" aria-controls="exampleModal">🧰
                        </div>
                    {% endif %}
                    {% if panel.department.name != 'hand' %}
                        <div class="action-button" data-bs-toggle="modal"
                             data-bs-target="#apply_to_hand" title="На руки" aria-controls="exampleModal">🖐
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}

        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const panelFields = document.querySelectorAll('.panel-field-size');

        panelFields.forEach(panelField => {
            panelField.addEventListener('click', function () {
                this.classList.toggle('expanded');
            });
        });
    });
</script>


