<div class="application-row">
    <div class="application-id">
        <strong>Панель:</strong> {{ info.panel }}
    </div>
    <div class="application-id">
        <strong>Время:</strong>
        <p>{{ info.time }}</p>
    </div>
</div>

<div class="application-details">

    <div class="application-field">
        <strong>Описание:</strong> {{ info.description }}
    </div>
</div>
<div class="application-details">

    <div class="application-field">
        <strong>Коммент:</strong> {{ info.comment }}
    </div>
</div>


