<div id="remove_panel_in_cell" class="overlay" style="display: none;">
    <div class="modal">
        <span class="close-cross" id="closeModalBtn">&times;</span>
        <div class="modal-header">
            <h2 id="modalTitle">Подтверждение снятия панели</h2>
        </div>
        <div class="modal-body">
            <form action="{% url 'main:service:change_panel_in_cell' %}" method="post">
                {% csrf_token %}
                <label>
                    Комментарий
                    <input name="comment" type="text">
                </label>
                <input type="hidden" id="target-cell-id" name="cell_id" value="">
                <input type="hidden" id="target-display-id" name="display_id" value="">
                <div class="modal-footer">
                    <button class="action-btn cancel" type="button">Отмена</button>
                    <button class="action-btn" type="submit">Принять</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="add_panel_in_cell" class="overlay" style="display: none;">
    <div class="modal">
        <span class="close-cross" id="closeModalBtn">&times;</span>
        <div class="modal-header">
            <h2 id="modalTitle">Подтверждение установки панели</h2>
        </div>
        <div class="modal-body">
            <form action="{% url 'main:service:change_panel_in_cell' %}" method="post">
                {% csrf_token %}
                <label>
                    Комментарий
                    <input name="comment" type="text">
                </label>
                <input type="hidden" id="target-cell-id" name="cell_id" value="">
                <input type="hidden" id="target-panel-id" name="new_panel_id" value="">
                <input type="hidden" id="target-display-id" name="display_id" value="">

                <div class="modal-footer">
                    <button class="action-btn cancel" type="button">Отмена</button>
                    <button class="action-btn" type="submit">Принять</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="remove_panel_special" class="overlay" style="display: none;">
    <div class="modal">
        <span class="close-cross" id="closeModalBtn">&times;</span>
        <div class="modal-header">
            <h2 id="modalTitle">Удаление проблемной панели</h2>
        </div>
        <div class="modal-body">
            <form action="{% url 'main:service:change_problem_panel' %}" method="post">
                {% csrf_token %}
                <label>
                    Комментарий
                    <input name="comment" type="text">
                </label>
                <input type="hidden" id="application-id" name="application_id" value="">
                <input type="hidden" id="target-panel-id" name="problem_panel_id" value="">
                <input type="hidden" id="target-display-id" name="display_id" value="">
                <div class="modal-footer">
                    <button class="action-btn cancel" type="button">Отмена</button>
                    <button class="action-btn" type="submit">Принять</button>
                </div>
            </form>
        </div>
    </div>
</div>


{#<div class="offcanvas offcanvas-end" tabindex="-1" id="moving" aria-labelledby="offcanvasRightLabel">#}
{#    <div class="offcanvas-header">#}
{#        <h5 class="offcanvas-title" id="offcanvasRightLabel">История перемещения</h5>#}
{#        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>#}
{#    </div>#}
{#    <div class="offcanvas-body">#}
{#        {% for line in panel_report_history.moving %}#}
{#            <p>{{ line }}</p>#}
{#        {% endfor %}#}
{#    </div>#}
{#</div>#}
{#<div class="offcanvas offcanvas-end" tabindex="-1" id="breakdown" aria-labelledby="offcanvasRightLabel">#}
{#    <div class="offcanvas-header">#}
{#        <h5 class="offcanvas-title" id="offcanvasRightLabel">История поломок</h5>#}
{#        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>#}
{#    </div>#}
{#    <div class="offcanvas-body">#}
{#        {% for line in panel_report_history.breakdown %}#}
{#            <p>{{ line }}</p>#}
{#        {% endfor %}#}
{#    </div>#}
{#</div>#}
{#<div class="offcanvas offcanvas-end" tabindex="-1" id="condition" aria-labelledby="offcanvasRightLabel">#}
{#    <div class="offcanvas-header">#}
{#        <h5 class="offcanvas-title" id="offcanvasRightLabel">История Ремонтов</h5>#}
{#        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>#}
{#    </div>#}
{#    <div class="offcanvas-body">#}
{#        {% for line in panel_report_history.condition %}#}
{#            <p>{{ line }}</p>#}
{#        {% endfor %}#}
{#    </div>#}
{#</div>#}
{#<div class="offcanvas offcanvas-end" tabindex="-1" id="service" aria-labelledby="offcanvasRightLabel">#}
{#    <div class="offcanvas-header">#}
{#        <h5 class="offcanvas-title" id="offcanvasRightLabel">История Сервиса</h5>#}
{#        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>#}
{#    </div>#}
{#    <div class="offcanvas-body">#}
{#        {% for line in panel_report_history.service %}#}
{#            <p>{{ line }}</p>#}
{#        {% endfor %}#}
{#    </div>#}
{#</div>#}
{#<div class="offcanvas offcanvas-end" tabindex="-1" id="other" aria-labelledby="offcanvasRightLabel">#}
{#    <div class="offcanvas-header">#}
{#        <h5 class="offcanvas-title" id="offcanvasRightLabel">История ЗИП</h5>#}
{#        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>#}
{#    </div>#}
{#    <div class="offcanvas-body">#}
{#        {% for line in panel_place_history.none_type %}#}
{#            <p>{{ line }}</p>#}
{#        {% endfor %}#}
{#    </div>#}
{#</div>#}



