{% extends 'base.html' %}

{% load panel_tags %}
{% load static %}


{% block title %}
    {{ title }}
{% endblock %}


{% block back-link %}
    {% url "main_menu:service:index" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/panel_info_block.css' %}">
    <link rel="stylesheet" href="{% static 'styles/slot_and_panel_info_container.css' %}">
    <link rel="stylesheet" href="{% static 'styles/displays.css' %}">
    <link rel="stylesheet" href="{% static 'styles/department_content.css' %}">
{% endblock %}

{% block main-center-display %}

    <div class="central-container">
        <div class="buttons_central_bar">
            <a class="head-button" data-target="application_info" title="Нажмите чтобы получить информацию о заявках">
                Обслуживание {{ display.description }}
            </a>
            {% if central_bar_status == "main_display" %}
                <a class="head-button"
                   href="?position={{ position }}&panel_id={{ panel.name }}&central_bar_status=service_display&left_bar_status={{ left_bar_status }}"
                   title="Переключить на экран обслуживания">
                    Экран обслуживания
                </a>
            {% else %}
                <a class="head-button"
                   href="?position={{ position }}&panel_id={{ panel.name }}&central_bar_status=main_display&left_bar_status={{ left_bar_status }}"
                   title="Переключить на экран заявок">
                    Экран Заявок
                </a>
            {% endif %}
            <a class="head-button"
               href="{% url 'main:zip:index' %}?display_name={{ display.name }}"
               title="Переключить на зип этого экрана">
                ЗИП
            </a>
        </div>

        {% include 'html/central_block.html' with central_bar_status=central_bar_status display=display cell=cell left_bar_status=left_bar_status free_panels=free_panels %}
    </div>

    <div class="right-bar-container">

        <div class="plan-block">

            {% if not panel.condition.name %}
                {% if cell %}
                    <div class="dropdown">
                        <a class="dropdown-button head-button" title="Нажмите чтобы выбрать панель для установки">
                            Поставить панель
                        </a>

                        <div class="dropdown-menu" style=" position: inherit; overflow: auto; max-height: 20vh; ">
                            {% for free_panel in free_panels %}

                                <a class="head-button" data-target="add_panel_in_cell"
                                   data-cell-id="{{ cell.id }}" data-panel-id="{{ free_panel.name }}">
                                    {{ free_panel.name }} {{ free_panel.condition.icon }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                {% else %}
                    <a class="panel-container" style="text-align: center">Выберите панель</a>
                {% endif %}
            {% else %}
                {% include 'html/panel_info_block.html' with department='service' panel=panel params=params central_bar_status=central_bar_status position=position left_bar_status=left_bar_status empty_slot=empty_slot free_panels=free_panels cell_id=cell.id display_id=display_id %}
            {% endif %}
        </div>
        <div class="plan-block">
            {% include 'html/place_and_panel_history_block.html' with  panel=panel info_cell=info_cell cell=cell panel_info=panel_info %}
        </div>

        <div class="plan-block">
            <nav class=button-bar-fill-width>
                <a href="?{% if position %}position={{ position }}&{% endif %}{% if panel.name %}panel_id={{ panel.name }}{% endif %}&left_bar_status=received&central_bar_status={{ central_bar_status }}"
                   class="head-button{% if left_bar_status == 'received' %} chosen {% endif %}"
                   title="Заявки поступившие от мониторинга">
                    Запросы
                </a>
                <a href="?{% if position %}position={{ position }}&{% endif %}{% if panel.name %}panel_id={{ panel.name }}{% endif %}&left_bar_status=at_work&central_bar_status={{ central_bar_status }}"
                   class="head-button{% if left_bar_status == 'at_work' %} chosen {% endif %}"
                   title=" Заявки которые приняты но не отправлены в сервис">
                    В работе
                </a>
                <a href="?{% if position %}position={{ position }}&{% endif %}{% if panel.name %}panel_id={{ panel.name }}{% endif %}&left_bar_status=complete&central_bar_status={{ central_bar_status }}"
                   class="head-button{% if left_bar_status == 'complete' %} chosen {% endif %}"
                   title="Заявки отправленные в сервис и еще не принятые">
                    Выполненные
                </a>
                <div class="dropdown">
                    <button class="dropdown-button head-button {% if left_bar_status == 'application_history' %}chosen{% endif %}">
                        {% if left_bar_status == 'archive' %}
                            Архив
                        {% elif left_bar_status == 'application_history' %}
                            История
                        {% elif left_bar_status == 'all_application' %}
                            Все
                        {% elif left_bar_status == 'unable' %}
                            Невозможные
                        {% else %}
                            Другое
                        {% endif %}
                    </button>

                    <div class="dropdown-menu" style=" position: inherit;">

                        <a class="head-button {% if left_bar_status == 'archive' %} btn-dark {% else %} btn-outline-dark {% endif %}"
                           href="?{% if position %}position={{ position }}&{% endif %}{% if panel.name %}panel_id={{ panel.name }}{% endif %}&left_bar_status=archive&central_bar_status={{ central_bar_status }}">
                            Архив
                        </a>

                        <a class="head-button{% if left_bar_status == 'application_history' %} btn-dark {% else %} btn-outline-dark {% endif %}"
                           href="?{% if position %}position={{ position }}&{% endif %}{% if panel.name %}panel_id={{ panel.name }}{% endif %}&left_bar_status=application_history&central_bar_status={{ central_bar_status }}">
                            История заявок
                        </a>

                        <a class="head-button{% if left_bar_status == 'all_application' %} btn-dark {% else %} btn-outline-dark {% endif %}"
                           href="?{% if position %}position={{ position }}&{% endif %}{% if panel.name %}panel_id={{ panel.name }}{% endif %}&left_bar_status=all_application&central_bar_status={{ central_bar_status }}">
                            Все заявки
                        </a>

                        <a class="head-button{% if left_bar_status == 'unable' %} btn-dark {% else %} btn-outline-dark {% endif %}"
                           href="?{% if position %}position={{ position }}&{% endif %}{% if panel.name %}panel_id={{ panel.name }}{% endif %}&left_bar_status=unable&central_bar_status={{ central_bar_status }}">
                            Невозможные
                        </a>

                    </div>
                </div>
            </nav>


            <div class="application-scroll-box">

                {% if left_bar_status == 'received' %}
                    {% if applications.application_sent_to_service %}
                        {% for application in applications.application_sent_to_service %}
                            <div class="application-container">
                                {% include 'application/application_block.html' %}
                                <div class="application-button-container">
                                    <a class="head-button" data-target="application_accept"
                                       data-next-application-step="service_unable"
                                       data-application-id="{{ application.id }}" title="Заявка невозможна">❌</a>
                                    <a class="head-button" data-target="application_accept"
                                       data-next-application-step="service_apply"
                                       data-application-id="{{ application.id }}" title="Принять заявку">✅</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <span style="text-align: center; min-height: 1.5vh; color: rgba(225,201,123,0.87)">Заявок нет</span>
                    {% endif %}


                {% elif left_bar_status == 'at_work' %}
                    {% if applications.application_work_in_service %}
                        {% for application in applications.application_work_in_service %}
                            <div class="application-container">
                                {% include 'application/application_block.html' %}

                                <div class="application-button-container">

                                    <a class="head-button"
                                       data-target="application_accept"
                                       data-next-application-step="service_unable"
                                       data-application-id="{{ application.id }}"
                                       title="Ремонт невозможен">
                                        ❌
                                    </a>
                                    <a class="head-button"
                                       data-target="application_accept"
                                       data-next-application-step="service_complete"
                                       data-application-id="{{ application.id }}"
                                       title="Выполнить ремонт">
                                        ✅
                                    </a>
                                    <a class="head-button"
                                       data-target="remove_panel_special"
                                       data-panel-id="{{ panel.id }}"
                                       data-application-id="{{ application.id }}"
                                       data-display-id="{{ display_id }}"
                                       title="Снять панель">
                                        ⤵️
                                    </a>

                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <span style="text-align: center; min-height: 1.5vh; color: rgba(225,201,123,0.87)">Заявок нет</span>
                    {% endif %}

                {% elif left_bar_status == 'complete' %}
                    {% if applications.done %}
                        {% for application in applications.done %}
                            <div class="application-container">
                                {% include 'application/application_block.html' %}
                                <div class="application-button-container">
                                    <a class="head-button" data-target="application_accept"
                                       data-next-application-step="archive_done"
                                       data-application-id="{{ application.id }}" title="В архив">🗄</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <span style="text-align: center; min-height: 1.5vh; color: rgba(225,201,123,0.87)">Заявок нет</span>
                    {% endif %}


                {% elif left_bar_status == 'unable' %}
                    {% if applications.application_unable %}
                        <div class="scroll-info-block">
                            {% for application in applications.application_unable %}
                                <div class="application-container">
                                    {% include 'application/application_block.html' %}

                                    <div class="application-button-container">
                                        <a class="head-button" data-target="application_accept"
                                           data-next-application-step="archive_unable"
                                           data-application-id="{{ application.id }}" title="В архив">🗄</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <span style="text-align: center; min-height: 1.5vh; color: rgba(225,201,123,0.87)">Заявок нет</span>
                    {% endif %}

                {% elif left_bar_status == 'archive' %}
                    {% if applications.archive %}
                        {% for application in applications.archive %}
                            <div class="application-container"
                                    {% if application.status.name == 'archive_unable' %}
                                 style="background: rgba(62,9,27,0.63)"
                                    {% elif application.status.name == 'archive_done' %}
                                 style="background: rgba(5,106,24,0.51)"
                                    {% endif %}>
                                {% include 'application/application_block.html' %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <span style="text-align: center; min-height: 1.5vh; color: rgba(225,201,123,0.87)">
                            Заявок нет
                        </span>
                    {% endif %}
                {% elif left_bar_status == 'application_history' %}
                    <div class="scroll-info-block flex-box ">
                        {% if applications_history %}
                            {% for application in applications_history %}
                                <a class="application-container"
                                   href="?application_id={{ application.id }}&left_bar_status={{ left_bar_status }}&central_bar_status={{ central_bar_status }}&panel_id={{ panel.name }}"
                                   target="_self">
                                    <p>номер-{{ application.app_id }} | Статус-{{ application.status }} | Время
                                        - {{ application.time }}</p>
                                </a>

                            {% endfor %}
                        {% else %}
                            <span style="text-align: center; min-height: 1.5vh; color: rgba(225,201,123,0.87)">Заявок нет</span>

                        {% endif %}
                    </div>
                {% elif left_bar_status == 'all_application' %}
                    {% if applications.all %}
                        <div class="scroll-info-block">
                            {% for application in applications.all %}
                                <div class="application-container">
                                    {% include 'application/application_block.html' %}
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <span style="text-align: center; min-height: 1.5vh; color: rgba(225,201,123,0.87)">Заявок нет</span>
                    {% endif %}

                {% endif %}
            </div>
        </div>

    </div>
    {% include 'service/modal.html' %}
    {% include 'modal.html' with panel=panel %}


{% endblock %}