{% load panel_tags %}








<div id="application_info" class="overlay" style="display: none;">
    <div class="modal">
        <span class="close-cross" id="closeModalBtn">&times;</span>
        <div class="modal-header">
            <h2 id="modalTitle">Информация по отображении заявок</h2>

        </div>
        <div class="modal-body">
            {% application_status_info as statuses %}
            {% for status in statuses %}
                <li>
                    <span style="background-color: {{ status.color.hex_color }};  border-radius: 50%; width: 1vh; height: 1vh">. . </span>{{ status.description }}
                </li>
            {% endfor %}
        </div>
        <div class="modal-footer" id="modalFooter">
            <button class="action-btn cancel" type="button">Отмена</button>
        </div>
    </div>
</div>

<div style="display: none;"  class="offcanvas offcanvas-end" tabindex="-1" id="moving" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">История перемещения</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% for line in panel_report_history.moving %}
            <p>{{ line }}</p>
        {% endfor %}
    </div>
</div>
<div style="display: none;" class="offcanvas offcanvas-end" tabindex="-1" id="breakdown" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">История поломок</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% for line in panel_report_history.breakdown %}
            <p>{{ line }}</p>
        {% endfor %}
    </div>
</div>
<div style="display: none;" class="offcanvas offcanvas-end" tabindex="-1" id="condition" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">История Ремонтов</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% for line in panel_report_history.condition %}
            <p>{{ line }}</p>
        {% endfor %}
    </div>
</div>
<div style="display: none;" class="offcanvas offcanvas-end" tabindex="-1" id="service" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">История Сервиса</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% for line in panel_report_history.service %}
            <p>{{ line }}</p>
        {% endfor %}
    </div>
</div>

<div style="display: none;" class="offcanvas offcanvas-end" tabindex="-1" id="other" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">История ЗИП</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% for line in panel_place_history.none_type %}
            <p>{{ line }}</p>
        {% endfor %}
    </div>
</div>

<div style="display: none;" class="offcanvas offcanvas-end" tabindex="-1" id="daily" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">История ежедневных заданий</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% for line in daily_history_report %}
            <p>{{ line.task_id }} {{ line.result }} {{ line.user }}</p>
        {% endfor %}
    </div>
</div>