{% extends 'base.html' %}
{% load panel_tags %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}
{% block back-link %}
    {% url "main_menu:index" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/department_menu.css' %}">
{% endblock %}
{% block main-center-display %}
    <div class="menu-city-block">
        {% if department == 'control'%}
            <div class="scroll-info-block" style="width: 50vw">
                {% if applications %}
                    {% for application in applications.all %}
                        <div class="application-container" style="max-width: 100%">
                            {% include 'application/application_block.html' with application=application %}
                        </div>
                    {% endfor %}
                {% else %}
                    пусто
                {% endif %}
            </div>
        {% endif %}
        <div class="city-info mt-5">
            {% for city in all_city %}
                {% include 'main_menu/city_display_info_block.html' with city_name=city.name department=department %}
            {% endfor %}
        </div>
    </div>
    {% include 'monitoring/modal.html' %}


{% endblock %}