<div class="modal-header">
    <span>Отправление заявки {{ panel_name }}</span>
    <span class="close-cross">&times;</span>
</div>
<div class="modal-body">
    <form action="{% url 'main:application:next_step' %}" method="post">
        {% csrf_token %}
        <label>
            Комментарий
            <input style="background: rgba(187,187,187,0.49); color: rgba(255,255,255,0.89); width: 100%; height: 5vh"
                   name="comment" type="text">
        </label>
        <input type="hidden" id="application-id" name="application_id" value="{{ application_id }}">
        <input type="hidden" id="target-step" name="target_step" value="{{ target_step }}">

    </form>
</div>
<div class="modal-footer">
    <button class="action-btn cancel" type="button" id="closeModalBtn">Отмена</button>
    <button class="action-btn submit-btn" type="button">Принять</button>
</div>