<div class="modal-header">
    <span>Планирование нового выезда</span>
    <span class="close-cross">&times;</span>
</div>
<div class="modal-body">
    <form action="{% url 'main:departure:create' %}" method="post">
        {% csrf_token %}
        <label>
            Запланированное время выезда
            <input name="time" type="datetime-local">
        </label>
        <br>
        <label>
            <span>Описание</span>
            <input name="description" type="text">
        </label>
        <br>
        <label for="executor">Выберите исполнителя</label>
        <select name="executor" id="executor"
                style="background: rgba(187,187,187,0.49); color: rgba(255,255,255,0.89); width: 100%; height: 5vh">
            <option value="" selected>Не выбран</option>
            {% for executor in executors %}
                <option value="{{ executor.id }}"
                        {% if application.executor and application.executor.id == executor.id %}selected{% endif %}>
                    {{ executor }} {{ executor.executor_role }}
                    ({{ executor.phone_number }})
                </option>
            {% endfor %}
        </select>
    </form>
</div>
<div class="modal-footer">
    <button class="action-btn cancel" type="button" id="closeModalBtn">Отмена</button>
    <button class="action-btn submit-btn" type="button">Принять</button>
</div>