<div class="modal-header">
    <span>Заявка на панель {{ panel.name }}</span>
    <span class="close-cross">&times;</span>
</div>
<div class="modal-body">
    <form action="{% url 'main:application:create' %}" method="post">
        {% csrf_token %}
        <label>
            Комментарий
            <input name="comment" type="text">
        </label>
        <input type="hidden" name="panel_id" value={{ panel.id }}>
    </form>
</div>
<div class="modal-footer">
    <button class="action-btn cancel" type="button" id="closeModalBtn">Отмена</button>
    <button class="action-btn submit-btn" type="button">Принять</button>
</div>