<div class="modal-header">
    <span>Подтверждение снятия панели {{ panel_name }}</span>
    <span class="close-cross">&times;</span>
</div>
<div class="modal-body">
    <form action="{% url 'main:service:change_panel_in_cell' %}" method="post">
        {% csrf_token %}
        <label>
            Комментарий
            <input name="comment" type="text">
        </label>
        <input type="hidden" id="target-cell-id" name="cell_id" value="{{ cell_id }}">
        <input type="hidden" id="target-display-id" name="display_id" value="{{ display_id }}">
        <input type="hidden" id="target-with-application" name="with_application">
    </form>
</div>
<div class="modal-footer">
    <button class="action-btn cancel" type="button">Отмена</button>
    <button class="action-btn submit-btn" type="submit">Принять</button>
</div>