{% load static %}
{% load panel_tags %}

<!DOCTYPE html>
<html lang="ru">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}description{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}keywords{% endblock %}">
    <meta name="author" content="Msgroup">

    <title>
        {% block title %}{% endblock %}
    </title>

    {% block styles %}
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        <link rel="stylesheet" href="{% static 'styles/menu.css' %}">
        
        <link rel="stylesheet" href="{% static 'styles/messages.css' %}">
        <link rel="stylesheet" href="{% static 'styles/header.css' %}">
        <link rel="stylesheet" href="{% static 'styles/modal_fade.css' %}">
        <link rel="stylesheet" href="{% static 'styles/dropdown_menu.css' %}">
        <link rel="stylesheet" href="{% static 'styles/application_container.css' %}">
    {% endblock %}


    {% block favicon %}
        <link rel="icon" type="image/png" sizes="16x16" href='{% static 'favicon.ico' %}'>
    {% endblock %}


</head>


<body class="background">

<header class="header">
    <div class="header-container">
        <div class="logo">
            <img src="{% static 'logo-white.png' %}" alt="Логотип">
        </div>
        {% if request.user.is_authenticated %}
            <nav class="head-buttons-bar">
                <div class="nav-buttons">
                    <a href="{% url 'main_menu:index' %}" class="head-button"
                       {% if not department %}style="background: rgba(113,106,106,0.53); color: rgba(225,201,123,0.87)"{% endif %}>Главная</a>

                    {% if request.user.permission in allowed.to_monitoring %}
                        <a href="{% url 'main:monitoring:index' %}" class="head-button"
                           {% if department == 'monitoring' %}style="background: rgba(113,106,106,0.53); color: rgba(225,201,123,0.87)"{% endif %}>Мониторинг</a>
                    {% endif %}

                    {% if request.user.permission in allowed.to_control %}
                        <a href="{% url 'main:control:index' %}" class="head-button"
                           {% if department == 'control' %}style="background: rgba(113,106,106,0.53); color: rgba(225,201,123,0.87)"{% endif %}>Контроль</a>
                    {% endif %}

                    {% if request.user.permission in allowed.to_service %}
                        <a href="{% url 'main:service:index' %}" class="head-button"
                           {% if department == 'service' %}style="background: rgba(113,106,106,0.53); color: rgba(225,201,123,0.87)"{% endif %}>Сервис</a>
                    {% endif %}

                    {% if request.user.permission in allowed.to_zip %}
                        <a href="{% url 'main:zip:index' %}" class="head-button"
                           {% if department == 'zip' %}style="background: rgba(113,106,106,0.53); color: rgba(225,201,123,0.87)"{% endif %}>ЗИП</a>
                    {% endif %}

                    {% if request.user.is_superuser %}
                        <a href="{% url 'admin:index' %}" class="head-button">Админ</a>
                        {{ time }}
                    {% endif %}
                </div>
                <div class="for-900px">
                    <div class="dropdown">
                        <button class="dropdown-button head-button">Меню</button>
                        <div class="dropdown-menu">
                            <a href="{% url 'main_menu:index' %}" class="head-button"
                               {% if not department %}style="background: rgba(113,106,106,0.53); color: rgba(225,201,123,0.87)"{% endif %}>Главная</a>
                            {% if request.user.permission in allowed.to_monitoring %}
                                <a href="{% url 'main:monitoring:index' %}" class="head-button"
                                   {% if department == 'monitoring' %}style="background: rgba(113,106,106,0.53); color: rgba(225,201,123,0.87)"{% endif %}>Мониторинг</a>
                            {% endif %}

                            {% if request.user.permission in allowed.to_control %}
                                <a href="{% url 'main:control:index' %}" class="head-button"
                                   {% if department == 'control' %}style="background: rgba(113,106,106,0.53); color: rgba(225,201,123,0.87)"{% endif %}>Контроль</a>
                            {% endif %}

                            {% if request.user.permission in allowed.to_service %}
                                <a href="{% url 'main:service:index' %}" class="head-button"
                                   {% if department == 'service' %}style="background: rgba(113,106,106,0.53); color: rgba(225,201,123,0.87)"{% endif %}>Сервис</a>
                            {% endif %}

                            {% if request.user.permission in allowed.to_zip %}
                                <a href="{% url 'main:zip:index' %}" class="head-button"
                                   {% if department == 'zip' %}style="background: rgba(113,106,106,0.53); color: rgba(225,201,123,0.87)"{% endif %}>ЗИП</a>
                            {% endif %}

                            {% if request.user.is_superuser %}
                                <a href="{% url 'admin:index' %}" class="head-button">Админ</a>
                                {{ time }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
            <nav>
                <a class="head-button"
                   href="{% url "user:logout" %}">Выход</a>
            </nav>

        {% else %}
            <nav>
                <a class="head-button" href="{% url "user:login" %}">Вход</a>
            </nav>

        {% endif %}
    </div>
    <div class="underline"></div>
</header>


<main class="main">
    {% include 'departure/modal.html' %}
    {% block main-center-display %} {% endblock %}
</main>


{% if messages %}
    <script src="{% static 'scripts/messages.js' %}"></script>
    <div id="notification-container">
        {% for message in messages %}
            <div class="notification-banner notification_{{ message.tags }}">
                <span class="message-content">{{ message }}</span>
                <button class="close-btn" onclick="closeMessage(this)">×</button>
            </div>
        {% endfor %}
    </div>
{% endif %}


</body>


{% block scripts %}
    <script src="{% static 'scripts/modal_fade.js' %}"></script>
    <script src="{% static 'scripts/dropdown-menu.js' %}"></script>
{% endblock %}


</html>

