<div id="universalModal" class="overlay" style="display: none;">
    <div class="modal" id="modalContent">
        <div class="modal-header">
            <span>Загрузка</span>
            <span class="close-cross">&times;</span>
        </div>
        <div class="modal-body">
            <div class="loading-wrapper">
                <div class="loading"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="action-btn cancel" type="button">Отмена</button>
        </div>
    </div>
</div>