/* Основной контейнер */
.login-container {
    max-width: 30vh;
    height: 30vh;
    margin: 15vw auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Заголовок */
.login-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

/* Форма */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Группа полей */
.form-group {
    display: flex;
    flex-direction: column;
}

/* Метка */
.form-label {
    font-size: 14px;
    font-weight: 600;
    color: #555555;
    margin-bottom: 5px;
}

/* Поле ввода */
.form-input {
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}


.submit-button:hover {
    background-color: #0056b3;
    transform: scale(1.02);
}

/* Ссылки */
.login-links {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #666666;
}

.login-links a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.login-links a:hover {
    color: #0056b3;
}
