{% load panel_tags %}

<!-- Само модальное окно -->
<div id="create_application" class="overlay" style="display: none;">
    <div class="modal">
        <span class="close-cross" id="closeModalBtn">&times;</span>
        <div class="modal-header">
            <h2 id="modalTitle">Заявка на панель {{ panel.name }}</h2>

        </div>
        <div class="modal-body">
            <form action="{% url 'main:application:create' %}" method="post">
                {% csrf_token %}
                <label>
                    Комментарий
                    <input style="background: rgba(187,187,187,0.49); color: rgba(255,255,255,0.89); width: 100%; height: 5vh"
                           name="comment" type="text">
                </label>
                <input type="hidden" name="panel_id" value={{ panel.name }}>
                <input type="hidden" name="display_name" value={{ panel.display.name }}>

                <div class="modal-footer">
                    <button class="action-btn cancel" type="button">Отмена</button>
                    <button class="action-btn" type="submit">Выполнить</button>
                </div>
            </form>
        </div>
    </div>
</div>

